<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LearningMaterialServlet</servlet-name>
        <servlet-class>lms.controller.LearningMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignmentServlet</servlet-name>
        <servlet-class>lms.controller.AssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>lms.controller.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LearningMaterialServlet</servlet-name>
        <url-pattern>/LearningMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignmentServlet</servlet-name>
        <!--        anything start with /assignment goes to AssignmentServlet-->
        <url-pattern>/Assignment/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
